@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

h1.title {
  font-size: 5rem;
  font-weight: 200;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 2% auto;
  width: 90vw;
  height: 90vh;
}

hr {
  height: 1px;
  background-color: #b7fff2;
  border: none;
  margin: 2%;
}

.container {
  position: fixed;
  z-index: 3;
  width: 45%;
  min-width: 450px;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% auto;
  background: rgba(47, 248, 255, 0.322);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.content {
  background-color: #ffffffa1;
  width: 95%;
  height: 70%;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 10rem;
}

.text-center {
  text-align: center;
}

.square {
  position: fixed;
  right: 12%;
  top: 5%;
  z-index: 1;
  width: 30vw;
  height: 25vh;
  border-radius: 10px;
  background: rgba(241, 149, 241, 0.5);
  box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  animation: upDown 2s cubic-bezier(0.55, 0.13, 0.54, 1.01) infinite alternate;
}

.circle {
  position: fixed;
  left: 12%;
  bottom: 3%;
  z-index: 1;
  width: 40vh;
  height: 35vh;
  border-radius: 50%;
  background: #74ebbe4f;
  box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  animation: upDown 2s cubic-bezier(0.55, 0.13, 0.54, 1.01) infinite alternate;
  animation-delay: 900ms;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 1%;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgb(38, 142, 228);
  color: #ffffff;
  outline: none;
  border: none;
  transition: background-color ease-in-out 250ms;
}

.btn:hover {
  background-color: rgb(88, 177, 250);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1.5rem);
  }
}

input[type="text"]#message {
  resize: none;
  padding: 10px;
  border: none;
  width: 90%;
  height: 5vh;
  margin: 2% auto;
  border-top: 1px solid #16df9296;
  border-left: 1px solid #16df9296;
  border-bottom: 1px solid #16df9296;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

#display {
  height: 45vh;
  width: 90%;
  padding: 20px;
  border: 1px solid #aab8f56e;
  border-radius: 13px;
  background-color: #ffffff75;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#display::-webkit-scrollbar {
  width: 1em;
}
 
#display::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#display::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.actions {
  position: relative;
  top: 0;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions .send {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #16df92ea;
  color: #ffffff;
  width: 10%;
  cursor: pointer;
  transition: background-color 120ms ease-in-out;
}

.actions .send:hover {
  background-color: #16df92c7;
}

.actions .send i.fas {
  display: block;
}

/* messages */
.message-bubble {
  background-color: #aab8f5bd;
  width: 55%;
  margin: 1% 0;
  padding: 10px;
  border-radius: 13px;
}

.me {
  display: flex;
  flex-direction: row-reverse;
}

.me .message-bubble .username,
.me .message-bubble .message-content{
 text-align: right;
}
